.RP_DefaultHandle__Wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
}

.RP_DefaultHandle__Container {
  position: relative;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(166,184,190);
  border: 4px solid #fff;
}

.RP_Handle_Source {
  justify-content: end;
}
