.RP_DefaultHandle__Wrapper {
  width: 100%;
  display: flex;
  justify-content: start;
}

.RP_DefaultHandle__Container {
  position: relative;
  left: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgb(166,184,190);
  border: 2px solid #fff;
}

.RP_Handle_Source {
  justify-content: end;
}
