.RP_Node__Handle {
  /* position: absolute; */
  pointer-events: none;
  cursor: crosshair;
  border: 1px solid red
}

.RP_Node__Handle.connectionindicator {
  pointer-events: all;
  
}

.RP_Node__Handle-bottom {
  top: auto;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
}

.RP_Node__Handle-top {
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0);
}

.RP_Node__Handle-left {
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}

.RP_Node__Handle-right {
  right: 0px;
  top: 50%;
  transform: translate(0, -50%);
}
